<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trilemon.top.boss360.base.dao.TaobaoAppMapper" >
  <resultMap id="BaseResultMap" type="com.trilemon.top.boss360.base.model.TaobaoApp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="article_code" property="articleCode" jdbcType="VARCHAR" />
    <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="sandbox_app_key" property="sandboxAppKey" jdbcType="VARCHAR" />
    <result column="sandbox_app_secret" property="sandboxAppSecret" jdbcType="VARCHAR" />
    <result column="app_callback_url" property="appCallbackUrl" jdbcType="VARCHAR" />
    <result column="app_extra_callback_url" property="appExtraCallbackUrl" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, article_code, app_secret, app_key, sandbox_app_key, sandbox_app_secret, 
    app_callback_url, app_extra_callback_url, add_time, upd_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.trilemon.top.boss360.base.model.TaobaoAppExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from taobao_app
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from taobao_app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from taobao_app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.trilemon.top.boss360.base.model.TaobaoAppExample" >
    delete from taobao_app
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.trilemon.top.boss360.base.model.TaobaoApp" >
    insert into taobao_app (id, name, article_code, 
      app_secret, app_key, sandbox_app_key, 
      sandbox_app_secret, app_callback_url, app_extra_callback_url, 
      add_time, upd_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{articleCode,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{appKey,jdbcType=VARCHAR}, #{sandboxAppKey,jdbcType=VARCHAR}, 
      #{sandboxAppSecret,jdbcType=VARCHAR}, #{appCallbackUrl,jdbcType=VARCHAR}, #{appExtraCallbackUrl,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.trilemon.top.boss360.base.model.TaobaoApp" >
    insert into taobao_app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="articleCode != null" >
        article_code,
      </if>
      <if test="appSecret != null" >
        app_secret,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="sandboxAppKey != null" >
        sandbox_app_key,
      </if>
      <if test="sandboxAppSecret != null" >
        sandbox_app_secret,
      </if>
      <if test="appCallbackUrl != null" >
        app_callback_url,
      </if>
      <if test="appExtraCallbackUrl != null" >
        app_extra_callback_url,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="articleCode != null" >
        #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="sandboxAppKey != null" >
        #{sandboxAppKey,jdbcType=VARCHAR},
      </if>
      <if test="sandboxAppSecret != null" >
        #{sandboxAppSecret,jdbcType=VARCHAR},
      </if>
      <if test="appCallbackUrl != null" >
        #{appCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="appExtraCallbackUrl != null" >
        #{appExtraCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.trilemon.top.boss360.base.model.TaobaoAppExample" resultType="java.lang.Integer" >
    select count(*) from taobao_app
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update taobao_app
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.articleCode != null" >
        article_code = #{record.articleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.appSecret != null" >
        app_secret = #{record.appSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.appKey != null" >
        app_key = #{record.appKey,jdbcType=VARCHAR},
      </if>
      <if test="record.sandboxAppKey != null" >
        sandbox_app_key = #{record.sandboxAppKey,jdbcType=VARCHAR},
      </if>
      <if test="record.sandboxAppSecret != null" >
        sandbox_app_secret = #{record.sandboxAppSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.appCallbackUrl != null" >
        app_callback_url = #{record.appCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.appExtraCallbackUrl != null" >
        app_extra_callback_url = #{record.appExtraCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update taobao_app
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      article_code = #{record.articleCode,jdbcType=VARCHAR},
      app_secret = #{record.appSecret,jdbcType=VARCHAR},
      app_key = #{record.appKey,jdbcType=VARCHAR},
      sandbox_app_key = #{record.sandboxAppKey,jdbcType=VARCHAR},
      sandbox_app_secret = #{record.sandboxAppSecret,jdbcType=VARCHAR},
      app_callback_url = #{record.appCallbackUrl,jdbcType=VARCHAR},
      app_extra_callback_url = #{record.appExtraCallbackUrl,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.trilemon.top.boss360.base.model.TaobaoApp" >
    update taobao_app
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="articleCode != null" >
        article_code = #{articleCode,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="sandboxAppKey != null" >
        sandbox_app_key = #{sandboxAppKey,jdbcType=VARCHAR},
      </if>
      <if test="sandboxAppSecret != null" >
        sandbox_app_secret = #{sandboxAppSecret,jdbcType=VARCHAR},
      </if>
      <if test="appCallbackUrl != null" >
        app_callback_url = #{appCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="appExtraCallbackUrl != null" >
        app_extra_callback_url = #{appExtraCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trilemon.top.boss360.base.model.TaobaoApp" >
    update taobao_app
    set name = #{name,jdbcType=VARCHAR},
      article_code = #{articleCode,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=VARCHAR},
      sandbox_app_key = #{sandboxAppKey,jdbcType=VARCHAR},
      sandbox_app_secret = #{sandboxAppSecret,jdbcType=VARCHAR},
      app_callback_url = #{appCallbackUrl,jdbcType=VARCHAR},
      app_extra_callback_url = #{appExtraCallbackUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>